.confermation-container {
  /* margin-top: 66px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confermation-box {
  /* width: 45vw; */
  /* height: 70vh; */
  padding: 15px 33px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.confermation-box p {
  font-size: 18px;
  font-weight: 700;
}
.confermation-box p span {
  font-weight: 600;
  color: rgb(56, 58, 57);
}
.confermation-icon {
  font-size: 110px;
  margin-top: 22px;
  color: green;
}

@media (max-width: 450px) {
  .confermation-icon {
    font-size: 96px;
  }
  .confermation-title {
    font-size: 22px;
  }
  .confermation-box {
    padding: 15px 10px;
  }
  .confermation-box h3 {
    font-size: 17px;
  }
  .confermation-box p {
    font-size: 14px;
  }
}


